@model labNetPractica6.MVC.Models.CustomersView
@{
    ViewBag.Title = "Update Customer";
}

@using (Html.BeginForm("Update", "Customers", FormMethod.Post))
{
    @Html.HiddenFor(c => c.Id);

    <label>Company Name:</label>
    @Html.TextBoxFor(c => c.CompanyName)
    @Html.ValidationMessageFor(c => c.CompanyName, "", new { @class = "text-danger" })
    <br />
    <label>Contact Name:</label>
    @Html.TextBoxFor(c => c.ContactName)
    @Html.ValidationMessageFor(c => c.ContactName, "", new { @class = "text-danger" })
    <br />
    <label>Contact Title:</label>
    @Html.TextBoxFor(c => c.ContactTitle)
    @Html.ValidationMessageFor(c => c.ContactTitle, "", new { @class = "text-danger" })
    <br />

    <input type="submit" class="btn btn-success" value="Guardar" />
}