@model List<labNetPractica6.MVC.Models.OrdersView>

@{
    ViewBag.Title = "Order Page";
}

<h1>Tabla de Ordenes</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Ship</th>
            <th scope="col">City</th>
            <th scope="col">Region</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <th scope="row">@order.Id</th>
                <td>@order.ship</td>
                <td>@order.city</td>
                <td>@order.region</td>
                <td>
                    @Html.ActionLink("Agregar", "Insert", new { id = order.Id }, new { @class = "btn btn-success" })
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Update", new {id = order.Id}, new {@class = "btn btn-info"})
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = order.Id }, new { @class = "btn btn-danger", 
                        onclick = "return confirm('¿Está seguro que desea eliminar esta orden?')" })
                </td>
            </tr>
        }
    </tbody>
</table>
