@model labNetPractica6.MVC.Models.OrdersView
@{
    ViewBag.Title = "Insert Order";
}

@using (Html.BeginForm("Insert", "Orders", FormMethod.Post))
{
    <label>Ship Name:</label>
    @Html.TextBoxFor(o => o.Ship)
    @Html.ValidationMessageFor(o => o.Ship, "", new { @class = "text-danger" })
    <br />
    <label>City Name:</label>
    @Html.TextBoxFor(o => o.City)
    @Html.ValidationMessageFor(o => o.City, "", new { @class = "text-danger" })
    <br />
    <label>Region:</label>
    @Html.TextBoxFor(o => o.Region)
    @Html.ValidationMessageFor(o => o.Region, "", new { @class = "text-danger" })
    <br />
    <label>Fecha:</label>
    @Html.TextBoxFor(o => o.CreateDays)
    @Html.ValidationMessageFor(o => o.CreateDays, "", new { @class = "text-danger" })
    <br />

    <input type="submit" class="btn btn-success" value="Guardar" />
}